.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;
    background-color: #ff5722;
}
 
*{
    box-sizing: border-box;
}

a, a:hover, a:active, a:focus {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    width: 100%;
    z-index: -1;
}
.top {
    position: absolute;
    width: 100%;
}
.top_nav {
    z-index: 2;
    position: relative;
    margin-top: 10px;
    background: transparent;
    border: 0;
}
.top_nav_logo {
    margin-top: 1%;
    height: 100%;
}
.top_nav a{
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.top_msg{
    padding-top: 18px;
    list-style:none;
    width: 290px;
    position: absolute;
    top: 0;
    left: 300px;
    z-index: 3;
}
.top_msg span {
    margin-top: 12px;
    margin-right:12px; 
    width: 8px;
    height: 8px;
    padding: 0;
    float: left;
    color: #00d8ff;
}
.top_nav_msg li {
    background: transparent;
}
.top_nav_msg li a{
    font-weight: 600;
    line-height:40px;
    text-align:center;
    font-size:20px;
    color:white;
    
}
.top_nav_msg li a:hover{
    color:#f91;
}
/* .top_nav a span:first-child {
    color: white;
} */
.top_nav_right .nav .active span {
    color: #00d8ff;
}
.top_nav a span {
    color: #00d8ff;
}
.top_nav_right {
    border: 0;
    background: transparent;
    min-height: 70px;
    margin-bottom: 0px;
    transition: all 1s ease;
}
.top_nav_right .navbar-collapse {
    height: 100%;
}
.top_nav_right .in , .top_nav_right .collapsing{
    background-color: rgba(3, 4, 4, 0.6);
}
.top_nav_right .nav li a{
    color: white;
    font-size: 16px;
    transition: all 0.3s linear;
}
.top_nav_right .nav li:nth-child(5) button,
.top_nav_right .nav li:nth-child(6) button
{
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s linear;
    width: 70px;
    padding: 5px;
    margin: 8px;
    box-sizing: border-box;
    background-color: #00d8ff;
    border-radius: 5px;
}
.top_nav_right .nav li:nth-child(6) button {
    border: 1px solid #00d8ff;
    background-color: transparent;
}
.top_nav_right .nav li:nth-child(5) button:hover,
.top_nav_right .nav li:nth-child(6) button:hover {
    background: rgba(0, 216, 255, 0.8);
}
.top_nav_right .nav li:nth-child(7) ,
.top_nav_right .nav li:nth-child(7):hover {
    border-bottom: 0;
}
.top_nav_right .nav li a:hover {
    color: #00d8ff;
    border-bottom: 1px solid #00d8ff;
}
.top_nav_right .nav .active{
    background-color: transparent !important;
    border-bottom: 1px solid #00d8ff;
}
.top_nav_right .active hr {
    margin: 0;
}
.top_nav_right .active a{
    background-color: transparent !important;
    color: #00d8ff !important;
}
.top_nav_right .active a span {
    margin-right: 4px;
}
.top_nav_right .nav .active:hover a{
    background-color: transparent;
    margin-top:0;
    border-bottom: 0;
    color: #00d8ff; 
}
.top_nav_right .dropdown {
    transition: all 1s linear;
}
.top_nav_right .dropdown-menu{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px !important;
    padding: 0;
}
.top_nav_right .dropdown-menu li a{
    font-size: 14px;
    color:white !important;
}
.top_nav_right .dropdown-menu li:first-child {
    margin-top: 0;
}
.top_nav_right .dropdown-menu li {
    padding: 8px 0;
}
.top_nav_right .dropdown-menu li:hover {
    background: #565a5c;
}
.top_nav_right .message-bell i{
    color:white;
}
.top_nav_border {
    border-top: 2px solid white;
}
.cd-user-modal {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s 0, visibility 0 0.3s;
} 
.cd-user-modal .is-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s 0, visibility 0 0;
}
@media screen and (max-width: 480px) {
    .top_nav_logo {
        margin-top: 2%;
        height: 100%;
    }
    .top_nav a {
        font-size: 20px;
    }
    .top_msg{
	    padding-top: 18px;
	    list-style:none;
	    width: 290px;
	    position: absolute;
	    top: 0.25%;
	    left: 1%;
        z-index: 3;
        
    }
	.top_msg span {
	    margin-top: 12px;
	    margin-right:12px; 
	    width: 8px;
	    height: 8px;
	    padding: 0;
	    float: left;
	    color: #00d8ff;
    }
    .top_nav_msg li a {
        font-size: 10px;
    }
    .top_nav_border {
        display: none;
    }
}










/* 首页 */
.section_1 {
    position: relative;
    min-height: 900px;
    overflow: hidden;
    z-index: -1;
}
.section_1 .item::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 4, 4, 0.4);
    z-index: 0;
}
.section_1 .item:hover{
    cursor: Default;
}
.section_1 .container {
    position: absolute;
    top: 30%;
    left: 8%;
    z-index: 1;
}
.section_1_center h1 {
    color: white;
    font-size: 90px;
    max-width: 800px;
    font-weight: 400;
    line-height: 1.22;
}
.section_1_center h2 {
    color: white;
    text-align: right;
}
.section_1_center_button button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #00d8ff;
}
.section_1_center_button button:hover,
.section_1_center_button button:focus {
    background: rgba(0, 216, 255, 0.8);
    color: white;
}
@media screen and (max-width: 480px){
    .section_1 {
        min-height: 368px;
    }
    .section_1_center {
        width: 350px;
    }
    .section_1_center h1 {
        font-size: 20px;
    }
    .section_1_center h2 {
        font-size: 15px;
    }
    .section_1_center_button button {
        width: 80px;
        height: 30px;
        margin-top: -60px;
        font-size: 15px;
    }
}










/* 四个图标 */
.section_2_box {
    margin-top: -120px;
    background: #fff;
    height: 270px;
    box-shadow:  0px 15px 30px rgba(0, 0, 0, 0.2);
}
.section_2_box .section_2_box_item {
    text-align: center;
    margin-top: 40px;
}
.section_2_box .section_2_box_item .icon{
    transition: all 0.2s ease;
    color: #00d8ff;
    font-size: 80px;
}
.section_2_box .section_2_box_item:hover{
    cursor: pointer;
}

.section_2_box_item .section_2_box_content{
    max-width: 268px;
    min-width: 70px;
    transition: all 0.2s ease;
}
.section_2_box .section_2_box_item:hover h2,
.section_2_box .section_2_box_item:hover p ,
.section_2_box .section_2_box_item:hover .icon{
    transition: all 0.2s ease;
    color: #ff6700;
}
.section_2_box_item .section_2_box_content h2{
    transition: all 0.2s ease;
    color: #565a5c;
    font-weight: 600;
    font-size: 15px;
}
.section_2_box_item .section_2_box_content p{
    transition: all 0.2s ease;
    color: #aaa;
    font-weight: 500;
    font-size: 13px;
}
.section_2 .travel-btn {
    width: 180px;
    background: #00d8ff;
    color: white;
    font-size: 16px;
    height: 60px;
    border:1px solid #00d8ff;
}
@media screen and (max-width: 480px) {
    .section_2_box .section_2_box_item .icon {
        font-size: 40px;
    }
    .section_2_box {
        min-height: 260px;
    }
}








/* 目的地推荐 */
.section_3_gallerys {
    margin-top: 117px;
    margin-bottom: 109px;
}
.section_3_gallerys .gallery_header h1{
    padding-bottom: 14px;
    font-size: 30px;
    font-weight: 500;
    color: #565a5c;
}
.section_3_gallerys .gallery_header span{
    color: #aaaaaa;
    margin-top: 17px;
    font-size: 16px;
}
.section_3_gallerys .gallery_body {
    margin-top: 62px;
}
.section_3_gallerys .gallery_items {       
    overflow: hidden;         
    position: relative;
    transition: all 1s ease;
    margin-bottom: 29px;
}
.section_3_gallerys .gallery_items img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}
.section_3_gallerys .gallery_items:hover img{
    /* hover放大 */
    transform:scale(1.5);
    
}
.section_3_gallerys .gallery_item_title{
    left: 60px;
    width: 170px;
    height: 60px;
    color: #ffffff;
    position: absolute;
    bottom: 20%;
}
.gallery_item_title .h3{
    font-size: 24px;
    font-weight: 500;
}
.gallery_item_title span {
    font-size: 16px;
    padding-right: 10px;
}
@media screen and (max-width: 480px){
    .section_3_gallerys {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .section_3_gallerys .gallery_body .col-xs-4,
    .section_3_gallerys .gallery_body .col-xs-6,
    .section_3_gallerys .gallery_body .col-xs-8 {
        padding-right: 5px;
        padding-left: 5px;
    }
    .section_3_gallerys .gallery_items {       
        margin-bottom: 11px;
    }
    .section_3_gallerys .gallery_item_title{
        left: 10px;
        height: 60px;
        bottom: 20%;
    }
    .gallery_item_title .h3{
        font-size: 18px;
    }
    .section_3_gallerys .gallery_item_title span {
        font-size: 14px;
        padding-right: 10px;
    }
}



/* 倒计时 */
.section_4 {
    background: url('../images/home/offer-timer.jpg') no-repeat;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}
.section_4::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,122,207,.5);
    z-index: -1;
}
.section_4_content {
    left: 100%;
    height: 400px;
    position: relative;
    transition : all 1s ease;
}
.section_4_flyin {
    top: 0px;
    left: 0px;
    transition : all 1s ease;

}
.section_4 .section_4_title {
    
    margin-top: 100px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4;
}
.section_4 .section_4_timer {
    /* background: rgba(11, 29, 41, 0.6); */
    height: 100px;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    text-align:center;
    color: white;
    font-size: 20px;
}
.section_4_timer span {
    font-size: 40px;
    font-weight: 600;
}
.section_4 .section_4_button {
    
    margin-top: 39px;
    margin-bottom: 40px;
}
.section_4 .section_4_button button {
    
    color: white;
    font-size: 20px;
    border: 0;
    background-color: #00d8ff;
    width: 200px;
    height: 60px;
    max-width: 160px;
}
@media screen and (max-width: 480px) {
    .section_4 .section_4_title h1{
        font-size: 20px;
    }
    .section_4_timer span {
        font-size: 20px;
    }
    .section_4 .section_4_button {
        margin: 0;
    }
}



/* 景点推荐 */
.section_5 .section_5_header {
    margin-top: 80px;
}
.section_5_header .gallery_header h2 {
    font-size: 20px;
    color: #aaaaaa;
    margin-bottom: 20px;
}
.section_5_gallery .gallery_items {
    margin-bottom: 20px;
    box-shadow:  0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}
.section_5_gallery .gallery_items:hover {
    box-shadow:  0px 15px 30px rgba(0, 0, 0, 0.2);
}
.section_5_gallery .gallery_items img{
    max-width: 100%;
}
.section_5_gallery .gallery_description {
    padding: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 480px){
    .section_5_gallery .gallery_items{
        display: flex;
    }
    .section_5_header .gallery_header h1 {
        font-size: 30px;
    }
    .section_5_header .gallery_header h2 {
        font-size: 15px;
    }
    .section_5_gallery .gallery_items img {
        width: 50%;
        height: 50%;
    }
    .section_5_gallery .gallery_description {
        padding: 5px;
        margin: 0;
    }
    .section_5_gallery .gallery_description h3,
    .section_5_gallery .gallery_description hr {
        margin: 0;
    }
    .section_5_gallery .gallery_description p {
        font-size: 10px;
    }
}






/* 大宣传 */
.section_6{
    position: relative;
    height: 570px;
    overflow: hidden;
}
.section_6_bg{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.section_6_bg .item:hover{
    cursor: Default;
}

/* .section_6::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 4, 4, 0.6);
    z-index: 0;
} */
.section_6 .container {
    height: 100%;
    /* position: absolute; */
}
.section_6_content ,
.section_6_content .row{
    position: relative;
    height: 100%;
    top: 0;
}
.content_left_txt {
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: center;
    color: black;
    background: rgba(11, 29, 41, 0.4);
    width: 480px;
    height: 300px;
    z-index: 1;
}
.content_left_txt h2 {
    margin: 50px 0 30px 0;
    color: #00d8ff;
    font-weight: 500;
    font-size: 40px;
}
.content_left_txt .content_left_description {
    color: #fff;
    margin: 0 5px 30px 5px;
    font-size: 18px;
}
.content_left_txt .btn{
    margin-bottom: 10px;
}
.content_left_txt .content_left_btn1 {
    border: 1px solid white;
    background: transparent;
    color: white;
    margin-right:10px; 
}
.content_left_txt .content_left_btn2{
    background: #00d8ff;
    border-color: #00d8ff;
    color: white;
    margin-left: 10px;
}


.section_6_content_right {
    position: absolute;
    height: 100%;
    right: -26px;
}
.section_6 .content_right_bg {
    position: relative;
    /* left: -50px; */
    left:-20%;
    top:0%;
    height: 20%;
    width: 400px;
    z-index: 1;
}

/* .section_6 .content_right_bg::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 4, 4, 0.6);
    z-index: -1;
} */
.section_6 .content_right_bg img{
    height: 300px;
    position: relative;
    width: auto;
}

.section_6 .content_right_txt {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #00d8ff;
    font-weight: 500;
    font-size: 40px;
    background: rgba(11, 29, 41, 0.4);
    width: 200px;
}
.section_6 .content_right_txt h2 {
    /* font-size: 80px;
    font-weight: 900; */
    text-align: center;
}
@media screen and (max-width: 480px){
    .section_6{
        height: 155px;
    }
    .content_left_txt {
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
    .content_left_txt h2 {
        color: #00d8ff;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .content_left_txt .content_left_description {
        color: #fff;
        font-size: 13px;
    }
    .content_left_txt .btn{
        display: none;
    }
    /* .section_6_content_left{
        padding: 40px 40px;
    } */
    .section_6_content_left h2{
        font-size: 20px;
    }
    .section_6_content_right{
        display: none;
    }
}   


/* 用户评价 */
.section_7{
    position:relative;
    background: #f9f9f9;
    padding:90px 0;
}

/*testemonial-carousel*/
.section_7_contain {
    max-width: 345px;
    background: #fff;
    padding: 50px 15px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: all 0.s linear;
}
.section_7_contain:hover {
    box-shadow: 0 0 30px rgba(0,0,0,.3);
}
.section_7_item {
    padding: 30px 36px 0 0;
    margin-bottom: 10px;
}

/*.home1-testm-img*/
.section_7 .owl-carousel .owl-item img {
    display: inline-block;
    width:80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
}/*.home1-testm-img*/

/*owl-carousel*/
.section_7 .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    padding: 0 19px;
}
.section_7 .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
}
.section_7 .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 3px;
    border-radius:50%;
    background: #aaa; 
}
.section_7 .owl-theme .owl-dots .owl-dot.active span{
    background: #00d8ff;
}/*owl-carousel*/

/*home1-testm-txt*/
section_7_text {
    padding-top: 27px;
}
.section_7_text p{
    color: #aaa;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 284px;
    margin: 0 auto;
    padding: 20px 0;
}
.section_7_text h3 a{
    display: block;
    color: #00d8ff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.section_7_text h4{
    color: #aaa;
    font-size: 14px;
    font-weight: 300;
    padding: 15px 0 0px;
}
.section_7_text span {
    color: #ddd;
    font-size: 18px;
}/*home1-testm-txt*/




/* 信息滚动 */
.section_8 {
    background: url('../images/home/subscribe-banner.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}
.section_8 .container {
    margin-top: 50px;
    margin-bottom: 60px;
    color: white;
    width: 70%;
    background: rgba(11, 29, 41, 0.6);
}
.section_8 h1{
    line-height:50px;
    text-align:center;
    font-size:40px;
    color:#00d8ff;
    font-weight: 800;
    margin-bottom:10px;
}

.section_8_msg {
    list-style:none;
}
.section_8_msg li a{
    font-weight: 600;
    line-height:40px;
    text-align:center;
    font-size:20px;
    color:white;
}
.section_8_msg li a:hover{
    color:#f91;
}
@media screen and (max-width: 480px) {
    .section_8 h1 {
        font-size: 20px;
    }
    .section_8_msg li a{
        font-size: 10px;
    }
}



.panel-footer p{
    text-align: center;
}



