*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.y_main {
	padding: 20px;
}

.y_main_title {
	font-size: 20px;
	padding-bottom: 20px;
}

/*百度地图*/
.iw_poi_title {
	color: #CC5522;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding-right: 13px;
	white-space: nowrap
}

.iw_poi_content {
	font: 12px arial, sans-serif;
	overflow: visible;
	padding-top: 4px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word
}

i{
	font-size: 50px;
}
