<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智慧旅游系统</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/message.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/iconfont.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>
    <div class="top_msg">
        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
        <ul class="top_nav_msg">
            <li><a href="">Lorem ipsum dolor 2018-1-1</a></li>
            <li><a href="">Lorem ipsum dolor 2018-1-2</a></li>
            <li><a href="">Lorem ipsum dolor 2018-1-3</a></li>
            <li><a href="">Lorem ipsum dolor 2018-1-4</a></li>
            <li><a href="">Lorem ipsum dolor 2018-1-5</a></li>
            <li><a href="">Lorem ipsum dolor 2018-1-6</a></li>
            <li><a href="">Lorem ipsum dolor 2018-1-7</a></li>
            <li><a href="">Lorem ipsum dolor 2018-1-8</a></li>
        </ul>
    </div>
    
    <div class="top">
        <div class="top_nav container">
            <div class="row">
                <div class="top_nav_logo col-xs-4 col-sm-2 col-md-2 col-lg-2">
                    <div>
                        <a href="#">
                            智慧
                            <span>旅游</span>
                        </a>
                        
                    </div>
                </div>
                <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
                    <nav class="top_nav_right navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">   
                            
                            <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#">首页</a></li>
                                    <li><a href="#">景点</a></li>
                                    <li><a href="#">景区活动</a></li>
                                    <li><a href="#">周边服务</a></li>
                                    <li>
                                        <button class="btn" href="#0" id="login">登陆</button>
                                    </li>
                                    <li>
                                        <button class="btn" href="#0" id="signup">注册</button>
                                    </li>
                                    <li class="dropdown hidden" id="user">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>主页</a></li>
                                            <hr>
                                            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>我的账号</a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>个人设置</a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>收藏</a></li>
                                            <hr>
                                            <li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>退出</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" id="message"> 
                                        <a id="ShowMessage"  class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                                            <span v-if="unread!=0" class="dot"></span>
                                        </a> 
                                        <ul class="dropdown-menu">
                                            <li>
                                                <span>消息</span> 
                                                <button type="button" class="btn btn-primary push-right" @click="clearAll()">一键清除</button>
                                            </li>
                                            <hr>
                                            <li v-for="item in items">
                                                <a @click="changeReadStatus(item.id)"><span v-if="item.readStatus==false" class="dot"></span>{{item.text}}</a>
                                            </li>
                                        </ul>
                                    </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="top_nav_border col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
            </div>
        </div>  
    </div><!-- 头部 -->

    

    <div class="section_1 owl-carousel" id="section_1">  
        <a href="javascript:;" class="item">
            <img src="images/blog/b1.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="section_1_center col-xs-8 col-sm-8 col-md-8 col-lg-8">    
                        <h1>迟日江山丽，</h1><h1>春风花草香。</h1>
                        
                        <h2 class="push-right">————唐 &nbsp;杜甫</h2>
                        <br>
                        <div class="section_1_center_button">
                            <button class="btn btn-large section_1_button" >即刻探索</button>
                        </div>
                    </div>
                        
            </div>
        
            </div>
        </a>
        <a href="javascript:;" class="item">
            <img src="images/blog/b2.jpg" alt="">
        
            <div class="container">
                <div class="row">
                    <div class="section_1_center col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            
                            <h1>迟日江山丽，</h1><h1>春风花草香。</h1>
                            
                            <h2 class="push-right">————唐 &nbsp;杜甫</h2>
                            <br>
                            <div class="section_1_center_button">
                                <button class="btn btn-large section_1_button">即刻探索</button>
                            </div>
                    </div>
                        
            </div>
        
            </div>
        </a>
        <a href="javascript:;" class="item">
            <img src="images/blog/b3.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="section_1_center col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            
                            <h1>迟日江山丽，</h1><h1>春风花草香。</h1>
                            
                            <h2 class="push-right">————唐 &nbsp;杜甫</h2>
                            <br>
                            <div class="section_1_center_button">
                                <button class="btn btn-large section_1_button">即刻探索</button>
                            </div>
                    </div>
                        
            </div>
        
            </div>
        </a>    
    </div><!-- 首页 -->
    


    <div class="section_2">
        
        <div class="clearfix"></div>
        <div class="container">
            <div class="row">
                
                <div class="section_2_box col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="section_2_box_item">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-canting"></use>
                            </svg>                                  
                            <div class="section_2_box_content">
                                <h2>民以食为天</h2>
                                <p>通过智能旅游系统您挑选您喜爱的餐厅</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="section_2_box_item">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-zhusu"></use>
                            </svg>  
                            <div class="section_2_box_content">
                                <h2>住的舒心，住的快乐</h2>
                                <p>通过智能旅游系统选取您心仪的酒店</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="section_2_box_item">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-tingchechang"></use>
                            </svg>  
                            <div class="section_2_box_content">
                                <h2>找不到位置停车？不存在的</h2>
                                <p>通过智能旅游系统快速找到停车位</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="section_2_box_item">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-duogouwu"></use>
                            </svg> 
                            <div class="section_2_box_content">
                                <h2>最重要的当然是买买买</h2>
                                <p>通过智能旅游系统浏览景区附近的商铺</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </div>
        
    </div><!-- 四块图标 -->
    


    <div class="section_3" id="section_3">
        
        <div class="container">
            <div class="section_3_gallerys">
                <div class="gallery_header text-center">
                    <h1>推荐目的地</h1>
                    <span>不知道去哪些景点？我们为您推荐</span>
                </div>
                <div class="gallery_body">
                    
                    <div class="row">
                        
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="gallery_items">
                                <img src="images/gallary/g1.jpg" alt="">
                                <div class="gallery_item_title">
                                    <h3>武汉</h3>
                                    <span>20 小时</span>
                                    <span>5 景点</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="gallery_items">
                                <img src="images/gallary/g2.jpg" alt="">
                                <div class="gallery_item_title">
                                    <h3>杭州</h3>
                                    <span>12 小时</span>
                                    <span>5 景点</span>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="gallery_items">
                                <img src="images/gallary/g3.jpg" alt="">
                                <div class="gallery_item_title">
                                    <h3>北京</h3>
                                    <span>12 小时</span>
                                    <span>5 景点</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="gallery_items">
                                <img src="images/gallary/g4.jpg" alt="">
                                <div class="gallery_item_title">
                                    <h3>上海</h3>
                                    <span>12 小时</span>
                                    <span>5 景点</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="gallery_items">
                                <img src="images/gallary/g5.jpg" alt="">
                                <div class="gallery_item_title">
                                    <h3>广州</h3>
                                    <span>12 小时</span>
                                    <span>5 景点</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="gallery_items">
                                <img src="images/gallary/g6.jpg" alt="">
                                <div class="gallery_item_title">
                                    <h3>深圳</h3>
                                    <span>12 小时</span>
                                    <span>5 景点</span>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div><!-- 推荐目的地 -->
    

    <div class="section_4" >
        <div class="section_4_content">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section_4_title">
                            <h1>迄今为止，通过智能旅游系统成功预定旅游服务的游客合计</h1>
                        </div>
                        <div class="section_4_timer">
                            <span id="people">10000</span>人次
                        </div>
                        <div class="section_4_button">
                            
                            <button type="button" class="btn btn-default">加入我们</button>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div><!-- 倒计时 -->
    

    <div class="section_5">
        <div class="section_5_header">
            <div class="gallery_header text-center">
                <h1>推荐目的地</h1>
                <h2>不知道去哪些景点？我们为您推荐</h2>
            </div>
        </div>
        <div class="section_5_gallery container">
            <div class="row">
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="gallery_items">
                        <img src="images/packages/p1.jpg" alt="">
                        <div class="gallery_description">
                            <h3>Italy</h3>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam explicabo ut facilis soluta saepe. Consequatur, atque vitae quia, aperiam inventore ullam fugiat reprehenderit dolorum, explicabo deserunt quod modi nesciunt dolorem.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="gallery_items">
                        <img src="images/packages/p1.jpg" alt="">
                        <div class="gallery_description">
                            <h3>Italy</h3>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam explicabo ut facilis soluta saepe. Consequatur, atque vitae quia, aperiam inventore ullam fugiat reprehenderit dolorum, explicabo deserunt quod modi nesciunt dolorem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="gallery_items">
                        <img src="images/packages/p1.jpg" alt="">
                        <div class="gallery_description">
                            <h3>Italy</h3>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam explicabo ut facilis soluta saepe. Consequatur, atque vitae quia, aperiam inventore ullam fugiat reprehenderit dolorum, explicabo deserunt quod modi nesciunt dolorem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="gallery_items">
                        <img src="images/packages/p1.jpg" alt="">
                        <div class="gallery_description">
                            <h3>Italy</h3>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam explicabo ut facilis soluta saepe. Consequatur, atque vitae quia, aperiam inventore ullam fugiat reprehenderit dolorum, explicabo deserunt quod modi nesciunt dolorem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="gallery_items">
                        <img src="images/packages/p1.jpg" alt="">
                        <div class="gallery_description">
                            <h3>Italy</h3>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam explicabo ut facilis soluta saepe. Consequatur, atque vitae quia, aperiam inventore ullam fugiat reprehenderit dolorum, explicabo deserunt quod modi nesciunt dolorem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="gallery_items">
                        <img src="images/packages/p1.jpg" alt="">
                        
                        <div class="gallery_description">
                            <h3>Italy</h3>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam explicabo ut facilis soluta saepe. Consequatur, atque vitae quia, aperiam inventore ullam fugiat reprehenderit dolorum, explicabo deserunt quod modi nesciunt dolorem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div><!-- 推荐景点 -->

    
    <div class="section_6">
        
        <!-- <div class="clearfix">
        
        </div>
                 -->
        <!-- <img src="./images/offer/1.jpg" alt=""> -->
        <div class="section_6_bg owl-carousel" id="section_6_gallery_1">
            <a href="javascript:;" class="item">
                <img src="images/offer/huanghe.jpg" alt="">
                <div class="content_left_txt">
                    <h2>黄鹤楼</h2>
                    <div class="content_left_description">
                            昔人已乘黄鹤去，此地空余黄鹤楼。 <br>
                            黄鹤一去不复返，白云千载空悠悠。 <br>
                            晴川历历汉阳树，芳草萋萋鹦鹉洲。 <br>
                            日暮乡关何处是？烟波江上使人愁。 <br>
                    </div> 
                    <button type="button" class="content_left_btn1 btn btn-default">了解详情</button>
                    <button type="button" class="content_left_btn2 btn btn-default">立即预定</button> 
                </div>
            </a>
            <a href="javascript:;" class="item">
                <img src="images/offer/tengwang.jpg" alt="">
                <div class="content_left_txt">
                    <h2>滕王阁</h2>
                    <div class="content_left_description">
                            豫章故郡，洪都新府。 <br>
                            星分翼轸，地接衡庐。 <br>
                            物华天宝，龙光射牛斗之墟；   <br>
                            人杰地灵，徐孺下陈蕃之榻。   
                    </div> 
                    <button type="button" class="content_left_btn1 btn btn-default">了解详情</button>
                    <button type="button" class="content_left_btn2 btn btn-default">立即预定</button> 
                </div>
            </a>
            <a href="javascript:;" class="item">
                <img src="images/offer/yueyang.jpg" alt="">
                <div class="content_left_txt">
                    <h2>岳阳楼</h2>
                    <div class="content_left_description">
                            至若春和景明，波澜不惊，  <br>
                            上下天光，一碧万顷；<br>
                            沙鸥翔集，锦鳞游泳；<br>
                            岸芷汀兰，郁郁青青。
                    </div> 
                    <button type="button" class="content_left_btn1 btn btn-default">了解详情</button>
                    <button type="button" class="content_left_btn2 btn btn-default">立即预定</button> 
                </div>
            </a>
        </div>

        <div class="container">
            <div class="section_6_content">
                <div class="row">
                    <div class="section_6_content_right col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="content_right_bg owl-carousel" id="section_6_gallery_2">
                            <a href="javascript:;" class="item">
                                <img src="images/offer/tengwang.jpg" alt="">
                                <div class="content_right_txt">
                                    <h2>滕王阁</h2>
                                </div>
                            </a>
                            <a href="javascript:;" class="item">
                                <img src="images/offer/yueyang.jpg" alt="">
                                <div class="content_right_txt">
                                    <h2>岳阳楼</h2>
                                </div>
                            </a>
                            <a href="javascript:;" class="item">
                                <img src="images/offer/huanghe.jpg" alt="">
                                <div class="content_right_txt">
                                    <h2>黄鹤楼</h2>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
    </div><!-- 大宣传 -->
    

    <div class="section_7">
        <div class="container">

            <div class="gallary-header text-center">
                <h2>用户评价</h2>
                <p>
                    智能旅游系统一经面世，便好评如潮。
                </p>

            </div>

            <div class="owl-carousel owl-theme" id="testemonial-carousel">

                <div class="section_7_item item">
                    <div class="section_7_contain text-center">
                        <div class="section_7_img">
                            <img src="./images/client/testimonial1.jpg" alt="img"/>
                        </div>
                        <div class="section_9_text">
                            <p>
                                Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                            <h3>
                                <a href="#">
                                    kevin watson
                                </a>
                            </h3>
                            <h4>london, england</h4>
                        </div>
                    </div>
                </div>
                <div class="section_7_item item">
                    <div class="section_7_contain text-center">
                        <div class="section_7_img">
                            <img src="./images/client/testimonial1.jpg" alt="img"/>
                        </div>
                        <div class="section_9_text">
                            <p>
                                Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                            <h3>
                                <a href="#">
                                    kevin watson
                                </a>
                            </h3>
                            <h4>london, england</h4>
                        </div>
                    </div>
                </div>
                <div class="section_7_item item">
                    <div class="section_7_contain text-center">
                        <div class="section_7_img">
                            <img src="./images/client/testimonial1.jpg" alt="img"/>
                        </div>
                        <div class="section_9_text">
                            <p>
                                Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                            <h3>
                                <a href="#">
                                    kevin watson
                                </a>
                            </h3>
                            <h4>london, england</h4>
                        </div>
                    </div>
                </div>
                <div class="section_7_item item">
                    <div class="section_7_contain text-center">
                        <div class="section_7_img">
                            <img src="./images/client/testimonial1.jpg" alt="img"/>
                        </div>
                        <div class="section_9_text">
                            <p>
                                Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                            <h3>
                                <a href="#">
                                    kevin watson
                                </a>
                            </h3>
                            <h4>london, england</h4>
                        </div>
                    </div>
                </div>
                <div class="section_7_item item">
                    <div class="section_7_contain text-center">
                        <div class="section_7_img">
                            <img src="./images/client/testimonial1.jpg" alt="img"/>
                        </div>
                        <div class="section_9_text">
                            <p>
                                Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                            <h3>
                                <a href="#">
                                    kevin watson
                                </a>
                            </h3>
                            <h4>london, england</h4>
                        </div>
                    </div>
                </div>
                <div class="section_7_item item">
                    <div class="section_7_contain text-center">
                        <div class="section_7_img">
                            <img src="./images/client/testimonial1.jpg" alt="img"/>
                        </div>
                        <div class="section_9_text">
                            <p>
                                Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                            <h3>
                                <a href="#">
                                    kevin watson
                                </a>
                            </h3>
                            <h4>london, england</h4>
                        </div>
                    </div>
                </div>
                <div class="section_7_item item">
                    <div class="section_7_contain text-center">
                        <div class="section_7_img">
                            <img src="./images/client/testimonial1.jpg" alt="img"/>
                        </div>
                        <div class="section_9_text">
                            <p>
                                Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                            <h3>
                                <a href="#">
                                    kevin watson
                                </a>
                            </h3>
                            <h4>london, england</h4>
                        </div>
                    </div>
                </div>
                <div class="section_7_item item">
                    <div class="section_7_contain text-center">
                        <div class="section_7_img">
                            <img src="./images/client/testimonial1.jpg" alt="img"/>
                        </div>
                        <div class="section_9_text">
                            <p>
                                Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                            <h3>
                                <a href="#">
                                    kevin watson
                                </a>
                            </h3>
                            <h4>london, england</h4>
                        </div>
                    </div>
                </div>
                <div class="section_7_item item">
                    <div class="section_7_contain text-center">
                        <div class="section_7_img">
                            <img src="./images/client/testimonial1.jpg" alt="img"/>
                        </div>
                        <div class="section_9_text">
                            <p>
                                Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                            <h3>
                                <a href="#">
                                    kevin watson
                                </a>
                            </h3>
                            <h4>london, england</h4>
                        </div>
                    </div>
                </div>  
    
            </div>
        </div>

    </div><!-- 用户评价 -->
    
    <div class="section_8">
        <div class="container">
            
            <div class="row">
                <h1>最近新闻</h1>
                <div class="section_8_content">
                    <ul class="section_8_msg">
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 2018-1-1</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 2018-1-2</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 2018-1-3</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 2018-1-4</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 2018-1-5</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 2018-1-6</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 2018-1-7</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 2018-1-8</a></li>
                    </ul>
                </div>
            </div>
            
            
        </div>
        
    </div><!-- 信息滚动 -->

    <footer class="panel-footer">
        <div class="container" style="margin-top:100px;margin-bottom:100px;">
            <div class="row">
                
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi dicta quos saepe quasi? Aut dolore nostrum, provident beatae, deserunt qui quidem voluptas eius repudiandae soluta in quam nobis ipsum ratione.
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cumque pariatur cum illo consectetur, itaque deserunt praesentium odit ipsam non exercitationem consequuntur? Error quidem esse itaque inventore praesentium. Tempore, ex?
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum vitae accusamus quasi rem natus. Praesentium, quia? Veniam voluptatem, provident aliquam aperiam suscipit consequatur. Facilis et in impedit? Quidem, temporibus aut.
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, eos? Omnis in impedit neque sed, quia iure ex aut id modi fuga soluta aliquam eaque eos sunt, harum et. Error!
                </div>
                
            </div>
        </div>
        <hr>
        <p>© 2017 All Right Reserved</p>
    </footer>

    
    
</body>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.bootstrap.newsbox.min.js"></script>
<script src="js/message.js"></script>
<script src="js/index.js"></script>
</html>